@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --bg-black: #000;

    --width-casa: 70px;
    --height-casa: 70px;
    --proporcao: 1.5;

    /* Cores paras casas */
    --casa1: rgb(0, 170, 255);
    --casa2: rgb(0, 217, 255);

    --casa3: rgb(145, 255, 0);
    --casa4: rgb(145, 214, 0);

    --casa5: rgb(239, 118, 45);
    --casa6: rgb(239, 85, 45);

    --casa-bonus: rgb(255, 255, 255);
    --casa-surpresa: rgb(195, 0, 255);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #555;
    background-image: url(../images/bgvideo.mp4);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    max-width: 1280px;
}

.video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -2;
}

.mask{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    z-index: -1;
}

.tabuleiro{
    position: relative;
    width: calc(18 * var(--width-casa));
    height: 90vh;
}

.casa{
    width: var(--width-casa);
    height: var(--height-casa);
    background-color: blue;
    position: absolute;
    border-radius: 10px;
    border: 1px solid black;
    color: black;
    padding: 5px;
    font-size: 0.8rem;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px white;
    font-weight: bold;
    box-shadow: 2px 2px 8px #333;
}

.casa p{
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    border-radius: 5px;
}
.mensagem{
    color: #FFF;
    display: none;
}

/* Caminhos principais*/
#a01{
    top: calc(0 * var(--height-casa));
    left: calc(0 * var(--width-casa));
    background-color: var(--casa-bonus);
}

#a02{
    top: calc(0 * var(--height-casa));
    left: calc(1 * var(--width-casa));
    background-color: var(--casa1);
}

#a03{
    top: calc(0 * var(--height-casa));
    left: calc(2 * var(--width-casa));
    background-color: var(--casa2);
}

#a04{
    top: calc(0 * var(--height-casa));
    left: calc(3 * var(--width-casa));
    background-color: var(--casa1);
}

#a05{
    top: calc(0 * var(--height-casa));
    left: calc(4 * var(--width-casa));
    background-color: var(--casa2);
}

#a06{
    top: calc(1 * var(--height-casa));
    left: calc(4 * var(--width-casa));
    background-color: var(--casa1);
}

#a07{
    top: calc(2 * var(--height-casa));
    left: calc(4 * var(--width-casa));
    background-color: var(--casa2);
}

#a08{
    top: calc(3 * var(--height-casa));
    left: calc(4 * var(--width-casa));
    background-color: var(--casa1);
}

#a09{
    top: calc(3 * var(--height-casa));
    left: calc(5 * var(--width-casa));
    background-color: var(--casa2);
}

#a10{
    top: calc(3 * var(--height-casa));
    left: calc(6 * var(--width-casa));
    background-color: var(--casa1);
}

#a11{
    top: calc(3 * var(--height-casa));
    left: calc(7 * var(--width-casa));
    background-color: var(--casa2);
}

#a12{
    top: calc(2 * var(--height-casa));
    left: calc(7 * var(--width-casa));
    background-color: var(--casa-surpresa);
}

#a13{
    top: calc(1 * var(--height-casa));
    left: calc(7 * var(--width-casa));
    background-color: var(--casa1);
}

#a14{
    top: calc(1 * var(--height-casa));
    left: calc(8 * var(--width-casa));
    background-color: var(--casa2);
}

#a15{
    top: calc(1 * var(--height-casa));
    left: calc(9 * var(--width-casa));
    background-color: var(--casa1);
}

#a16{
    top: calc(1 * var(--height-casa));
    left: calc(10 * var(--width-casa));
    background-color: var(--casa2);
}

#a17{
    top: calc(1 * var(--height-casa));
    left: calc(11 * var(--width-casa));
    background-color: var(--casa1);
}

#a18{
    top: calc(1 * var(--height-casa));
    left: calc(12 * var(--width-casa));
    background-color: var(--casa2);
}

#a19{
    top: calc(2 * var(--height-casa));
    left: calc(12 * var(--width-casa));
    background-color: var(--casa1);
}

#a20{
    top: calc(3 * var(--height-casa));
    left: calc(12 * var(--width-casa));
    background-color: var(--casa2);
}

#a21{
    top: calc(3 * var(--height-casa));
    left: calc(13 * var(--width-casa));
    background-color: var(--casa1);
}

#a22{
    top: calc(3 * var(--height-casa));
    left: calc(14 * var(--width-casa));
    background-color: var(--casa2);
}

#a23{
    top: calc(2 * var(--height-casa));
    left: calc(14 * var(--width-casa));
    background-color: var(--casa-surpresa);
}

#a24{
    top: calc(1 * var(--height-casa));
    left: calc(14 * var(--width-casa));
    background-color: var(--casa3);
}

#a25{
    top: calc(0 * var(--height-casa));
    left: calc(14 * var(--width-casa));
    background-color: var(--casa4);
}

#a26{
    top: calc(0 * var(--height-casa));
    left: calc(15 * var(--width-casa));
    background-color: var(--casa3);
}

#a27{
    top: calc(0 * var(--height-casa));
    left: calc(16 * var(--width-casa));
    background-color: var(--casa4);
}

#a28{
    top: calc(0 * var(--height-casa));
    left: calc(17 * var(--width-casa));
    background-color: var(--casa3);
}

#a29{
    top: calc(1 * var(--height-casa));
    left: calc(17 * var(--width-casa));
    background-color: var(--casa4);
}

#a30{
    top: calc(2 * var(--height-casa));
    left: calc(17 * var(--width-casa));
    background-color: var(--casa3);
}

#a31{
    top: calc(3 * var(--height-casa));
    left: calc(17 * var(--width-casa));
    background-color: var(--casa4);
}

#a32{
    top: calc(4 * var(--height-casa));
    left: calc(17 * var(--width-casa));
    background-color: var(--casa3);
}

#a33{
    top: calc(5 * var(--height-casa));
    left: calc(17 * var(--width-casa));
    background-color: var(--casa4);
}

#a34{
    top: calc(6 * var(--height-casa));
    left: calc(17 * var(--width-casa));
    background-color: var(--casa-surpresa);
}

#a35{
    top: calc(6 * var(--height-casa));
    left: calc(16 * var(--width-casa));
    background-color: var(--casa3);
}

#a36{
    top: calc(6 * var(--height-casa));
    left: calc(15 * var(--width-casa));
    background-color: var(--casa4);
}

#a37{
    top: calc(6 * var(--height-casa));
    left: calc(14 * var(--width-casa));
    background-color: var(--casa3);
}

#a38{
    top: calc(7 * var(--height-casa));
    left: calc(14 * var(--width-casa));
    background-color: var(--casa4);
}

#a39{
    top: calc(8 * var(--height-casa));
    left: calc(14 * var(--width-casa));
    background-color: var(--casa3);
}

#a40{
    top: calc(9 * var(--height-casa));
    left: calc(14 * var(--width-casa));
    background-color: var(--casa4);
}

#a41{
    top: calc(9 * var(--height-casa));
    left: calc(13 * var(--width-casa));
    background-color: var(--casa3);
}

#a42{
    top: calc(9 * var(--height-casa));
    left: calc(12 * var(--width-casa));
    background-color: var(--casa4);
}

#a43{
    top: calc(9 * var(--height-casa));
    left: calc(11 * var(--width-casa));
    background-color: var(--casa3);
}

#a44{
    top: calc(8 * var(--height-casa));
    left: calc(11 * var(--width-casa));
    background-color: var(--casa4);
}

#a45{
    top: calc(8 * var(--height-casa));
    left: calc(10 * var(--width-casa));
    background-color: var(--casa-surpresa);
}

#a46{
    top: calc(8 * var(--height-casa));
    left: calc(9 * var(--width-casa));
    background-color: var(--casa5);
}

#a47{
    top: calc(8 * var(--height-casa));
    left: calc(8 * var(--width-casa));
    background-color: var(--casa6);
}

#a48{
    top: calc(8 * var(--height-casa));
    left: calc(7 * var(--width-casa));
    background-color: var(--casa5);
}

#a49{
    top: calc(9 * var(--height-casa));
    left: calc(7 * var(--width-casa));
    background-color: var(--casa6);
}

#a50{
    top: calc(9 * var(--height-casa));
    left: calc(6 * var(--width-casa));
    background-color: var(--casa-surpresa);
}

#a51{
    top: calc(9 * var(--height-casa));
    left: calc(5 * var(--width-casa));
    background-color: var(--casa5);
}

#a52{
    top: calc(9 * var(--height-casa));
    left: calc(4 * var(--width-casa));
    background-color: var(--casa6);
}

#a53{
    top: calc(9 * var(--height-casa));
    left: calc(3 * var(--width-casa));
    background-color: var(--casa5);
}

#a54{
    top: calc(9 * var(--height-casa));
    left: calc(2 * var(--width-casa));
    background-color: var(--casa6);
}

#a55{
    top: calc(8 * var(--height-casa));
    left: calc(2 * var(--width-casa));
    background-color: var(--casa-surpresa);
}

#a56{
    top: calc(8 * var(--height-casa));
    left: calc(1 * var(--width-casa));
    background-color: var(--casa5);
}

#a57{
    top: calc(7 * var(--height-casa));
    left: calc(1 * var(--width-casa));
    background-color: var(--casa6);
}

#a58{
    top: calc(7 * var(--height-casa));
    left: calc(0 * var(--width-casa));
    background-color: var(--casa5);
}

#a59{
    top: calc(6 * var(--height-casa));
    left: calc(0 * var(--width-casa));
    background-color: var(--casa6);
}

#a60{
    top: calc(5 * var(--height-casa));
    left: calc(0 * var(--width-casa));
    background-color: var(--casa-surpresa);
}

#a61{
    top: calc(4 * var(--height-casa));
    left: calc(0 * var(--width-casa));
    background-color: var(--casa5);
}

#a62{
    top: calc(3 * var(--height-casa));
    left: calc(0 * var(--width-casa));
    background-color: var(--casa6);
}

#a63{
    top: calc(2 * var(--height-casa));
    left: calc(0 * var(--width-casa));
    background-color: var(--casa5);
}

#a64{
    top: calc(1 * var(--height-casa));
    left: calc(0 * var(--width-casa));
    background-color: var(--casa6);
}

/* dado */
.dado{
    position: absolute;
    width: calc(2 * var(--width-casa));
    height: calc(2 * var(--height-casa));
    border-radius: 15px;
    left: calc(16 * var(--width-casa));
    top: calc(8 * var(--width-casa));
    border: 5px solid var(--casa-bonus);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dado:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

.dado h1{
    font-size: 6rem;
    color: var(--casa-bonus);
}

/* Peões */
.peao{
    z-index: 999;
    color: var(--casa-bonus);
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: calc((var(--width-casa)/2)*var(--proporcao));
    height: calc((var(--height-casa)/2)*var(--proporcao));
}

#JA{
    background-image: url(../images/JA.png);
    transform: translateX(-30%) translateY(-10%);
}

#JB{
    background-image: url(../images/JB.png);
    transform: translateY(-10%);
    z-index: 1000;   
}

#JC{
    background-image: url(../images/JC.png);
    transform: translateX(40%) translateY(-10%);   
}

/* Vez */
.vez{
    z-index: 999;
    left: 50%;
    position: absolute;
    color: var(--casa-bonus);
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.vez img{
    height: 50px;
}

/* Question */
.question-container{
    z-index: 1001;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.7);
}

.question-content{
    position: relative;
    width: 1000px;
    height: 600px;
    background-color: red;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
    box-shadow: 0 0 40px var(--casa-bonus);
    background-image: url(../images/svg/question.svg);
    background-size: cover;
    padding-bottom: 70px;
}

.dificuldade{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 5rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--casa-bonus);
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transform: translateX(30%) translateY(30%);
    box-shadow: 0 0 40px var(--casa-bonus);
    border: 5px solid;
}

.pontuacao{
    position: absolute;
    height: 100px;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.5);  
    color: var(--casa-bonus);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    left: 0;
    bottom: 0;
    transform: translateX(-30%) translateY(30%);
    border-radius: 15px;
    box-shadow: 0 0 40px var(--casa-bonus);
    border: 5px solid;

}

.pergunta{
    width: 100%;
    padding: 0 50px;
    font-size: 1.2rem;
    white-space: pre-line;
}

.alternativa{
    cursor: pointer;
    width: 90%;
    text-align: center;
    height: 60px;
    border-radius: 15px;
    box-shadow: 0 0 20px var(--casa-bonus);
    border: 2px solid var(--bg-black);
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 1.2rem;
    letter-spacing: 3px;
    padding-left: 20px;
    transition: 0.4s all ease;
}

.alternativa:hover{
    background-color: var(--casa-bonus);
    transition: 0.4s all ease;
    letter-spacing: 5px;
}

.jogador-atual{
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(50%) translateY(-50%);
}

/* Vida */
.vida{
    height: 30px;
    width: 70%;
    background-color: var(--casa5);
    position: absolute;
    top: calc(11 * var(--height-casa));
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: start;
    align-items: center;
    box-shadow: 2px 2px 8px #333;
}

.vida-atual{
    height: 100%;
    background-color: var(--casa3);
    border-radius: 10px;
}

.vida-texto{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
    background-color: var(--bg-black);
    color: var(--casa-bonus);
    padding: 5px 15px;
    border-radius: 15px;
    box-shadow: 2px 2px 8px #333;
}

/* Pontuação do time */
.equipe{
    position: absolute;
    left: calc(7 * var(--width-casa));
    top: calc((4 * var(--height-casa)) + (var(--height-casa)/2));
    width: calc(5 * var(--width-casa));
    height: calc(3 * var(--height-casa));
    border-radius: 15px;
    box-shadow: 2px 2px 8px #333;
    background-image: url(../images/card.jpg);
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-direction: column;
}

.jogador{
    width: 90%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
}

.jogador img{
    width: 30px;
    left: 0;
}

.pontos{
    width: 100%;
    height: 60%;
    border-radius: 10px;
}

.pontos-atual{
    height: 100%;
    width: 0;
    border-radius: 10px;
    position: relative;
    z-index: 999;
}

#PJA{
    background-color: yellow;
}

#PJB{
    background-color: red;
}

#PJC{
    background-color: black;
}

.pontuacao-do-jogador{
    position: absolute;
    right: 0;
    padding: 0 5px;
    background-color: var(--casa-bonus);
    border-radius: 10px;
    box-shadow: 1px 1px 2px var(--bg-black);
    font-size: 1.2rem;
    top: 50%;
    transform: translateY(-50%);
}

/* Erro */
.erro{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: red;
    z-index: 2000;
    transform: translateX(-50%) translateY(-50%);
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    border-radius: 20px;
}

.timer{
    position: absolute;
    top: 0;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--casa-bonus);
    letter-spacing: 3px;
    border-radius: 15px;
    border: 5px solid;
    box-shadow: 2px 2px 8px #333;
}

.urgente{
    background-color: rgba(255, 0, 0) !important;
    animation: acabando 1s infinite !important;
}

/* Casa surpresa */
.surpresa{
    color: white;
    font-size: 3rem;
    text-align: center;
}

/* Bug */
#bug{
    z-index: 1000;
    position: absolute;
    width: calc(2 * var(--width-casa));
    top: calc(9 * var(--height-casa));
    left: calc(6 * var(--width-casa));
    transform: translateY(30%);
    transition: left 0.8s ease;
}

.pc{
    position: absolute;
    width: calc(var(--width-casa)*0.75);
}

#pc1{
    left: calc(8 * var(--width-casa));
    top: calc(10 * var(--height-casa));
}

#pc2{
    left: calc(9 * var(--width-casa));
    top: calc(10 * var(--height-casa));
}

#pc3{
    left: calc(10 * var(--width-casa));
    top: calc(10 * var(--height-casa));
}

#pc4{
    left: calc(11 * var(--width-casa));
    top: calc(10 * var(--height-casa));
}

/* Resultado */
.resultado{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3000;
    font-size: 6rem;
    background-color: rgba(0, 0, 0, 0.8);
    color: var(--casa-bonus);
    text-transform: uppercase;
    letter-spacing: 5px;
}

@media (max-width: 1280px) {
    .mensagem{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .content{
        display: none;
    }
}

@keyframes acabando{
    0%{
        transform: translateY(-50%) scale(1.1);
    }100%{
        transform: translateY(-50%) scale(0.9);
    }
}
